* {
  box-sizing: border-box;
/*   cursor: url('https://cdn.glitch.com/d5c04b6f-97ab-47d6-b1d3-4f165f94771f%2Fcursor-02.png?v=1607203036718') , pointer; */
}

@font-face{
  font-family: SF-Pro-Display-Light;
  src: url(https://cdn.glitch.com/d5c04b6f-97ab-47d6-b1d3-4f165f94771f%2FSF-Pro-Display-Light.otf?v=1607205210147);
}
body {
  font-family: SF-Pro-Display-Light, sans-serif;
}

form {
  width: 50vw;
  height: 100vh;
  position: absolute;
  margin: 0;
  top: 0;
  left: 25vw;
  overflow: hidden;  
}

input, textarea {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

/* #empty, #full{
  display: none;
} */

#trash {
  width: 50vw; 
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  margin: 0;
  top: 50px;
  left: 0;
  
}

.empty {
  background-image: url("https://cdn.glitch.com/d5c04b6f-97ab-47d6-b1d3-4f165f94771f%2FTrashIcon.png?v=1606271188087");
}
/* input:hover + #mycanvas {
  display: block;
}

#mycanvas:hover {
  display: block;
} */

.full {
  background-image: url("https://cdn.glitch.com/d5c04b6f-97ab-47d6-b1d3-4f165f94771f%2FFullTrashIcon.png?v=1606271193203");
}

.hide {
  display:none;
}

#imageUploader.has-advanced-upload {
  background-color: white;
  outline: 2px dashed black;
  outline-offset: -10px;
}
#imageUploader.has-advanced-upload #imageUploader__dragndrop {
  display: inline;
}

#imageUploader.is-dragover {
/*   background-color: grey; */
  
}

input[type=file] {
  z-index: 99;
  width: 100vw;
  height: 100vh;
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  opacity: 0;
}

button[type="submit"] {
  z-index: 0;
  position: absolute;
  margin: 0;
  bottom: 20px;
  right: 20px;
  opacity: 0;
}

#download{
  width: 50vw;
  height: 100vh;
  position: absolute;
  margin: 0;
}

nav {
  z-index: 100;
}

/* #mydiv
{
    position: absolute;
    top: 0px;
    left: 0px;
    width:1000px;
    height: 1000px;
    z-index: 101;
} */

#mycanvas {
  position: relative;
  text-align: center;
  margin: 30px;
  font-size: 15vh;
  line-height: 88%;
  z-index: -1;
  display: none;
  pointer-events: none;
}